*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: #0d1117;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 65px;
    background: #161b22;
    z-index: 50px;
}

.left-nav{
    display: flex;
}

.left-nav i{
    color: white;
    cursor: pointer;
}

.fa-brands{
    font-size: 35px;
    margin: 15px 0;
    margin-left: 40px;
}

.input-bar{
    margin: 18px 25px;
}


.input-bar input{
    background: #161b22;
    color: white;
    border: 0.1px solid #646b75;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 5px;
    width: 150%;
}

.menu{
    margin-left: -8%;
}

.menu ul {
    display: flex;

}

.menu ul li{
    
    list-style: none
    
}

.menu ul li a{
    text-decoration: none;
    outline: none;
    color: white;
    padding: 0px 10px;
    font-size: 14px;
    
}

.right-nav{
    display: flex;
    color: white;
    margin: 10px 25px;
    padding: 5px 5px;
    cursor: pointer;
}

.right-nav >div{
    margin: 0px 10px;
}

.fa-regular{
    font-size: 16px;
    padding: 10px 15px;
}

.fa-plus{
    font-size: 16px;
    padding: 10px 2px;
}

.fa-caret-down{
    font-size: 9px;
}

.profile-d img{
    border-radius: 50%;
    padding: 8px 0px;
}

.sub-menu{
    margin: 30px 0px;
    border-bottom: 0.07px solid #646b75;
    padding-left: 26%;
}

.sub-menu ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    outline: none;
    margin: 10px 8px 10px 25px;
}

.sub-menu ul li{
    text-decoration: none;
    outline: none;
    padding: 10px 0px 10px 0px;
}



.sub-menu ul li a{
    text-decoration: none;
    outline: none;
    color: white;
}


.sub-menu ul i{
    color: #7a828d;
    padding: 10px 8px 10px 25px;
    position: relative;
}


.content{
    display: flex;
    
}

.left-content img{
    border-radius: 50%;
    border: 1px solid grey;
    position: relative;
    left: 40px;
    bottom: 70px;
}

.fa-face-smile{
    position: relative;
    color: rgb(127, 121, 121);
    padding: 10px 10px;
    border: 0.2px solid rgb(72, 67, 67);
    border-radius: 50%;
    font-size: 15px;
    bottom: 118px;
    background:#0d1117;
}

.left-content h3{
    color: #707782;
    font-weight: 100;
    font-size: 20px;
    margin-left: 40px;
    position: relative;
    bottom: 60px;
}

.left-content button{
    background: #21262d;
    color: #cbcdcf;
    border-radius: 5px;
    border: 0.8px solid #646b75;
    width: 88%;
    height: 30px;
    position: relative;
    margin-left: 40px;
    bottom: 40px;
    cursor: pointer;
}

.fa-user-group{
    color: #646b75;
    font-size: 13px;
    position: relative;
    bottom: 8px;
    left: 40px;
}

.left-content span{
    color: white;
    font-weight: 100;
    font-size: 13px;
    position: relative;

}

.left-content h4{
    color: #646b75;
    font-weight: 100;
    font-size: 13px;
    position: relative;
    margin-left: 65px;
    bottom: 23px;
}

.right-content h3{
    color: white;
    font-weight: 100;
    font-size: 16px;
    margin-left: 25px;
}

.boxes-flex{
  display: flex;
}

.boxes{
    height: 80px;
    width: 380px;
    display: flex;
    border: 0.3px solid #383f48;
    border-radius: 5px;
    color: white;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 10px 0px 10px 15px;
    font-size: 13px;
}

.boxes1{
    height: 80px;
    width: 380px;
    display: flex;
    border: 0.3px solid #383f48;
    border-radius: 5px;
    color: white;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 10px 0px 10px 25px;
    font-weight: 100;
    font-size: 13px;
}

.boxes h4{
    color: #2f81f7;
}

.boxes1 h4{
    color: #2f81f7;
}

.right-box p{
    color: #707782;
    padding: 2px 8px;
    border: 0.1px solid #707782;
    border-radius: 10px;
    font-size: 12px;
}

.left-box p{
    font-size: 12px;
    color: #707782;
    padding: 10px 0px;
}

.language{
    display: flex;
}

.language p{
    padding: 18px 5px;
}

.language i{
    position: relative;
    font-size: 10px;
    top: 19px;
    color: orangered;
}

.content-heading{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #707782;
    cursor: pointer;
}

.h-overview{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    margin-left: 27%;
    margin-right: 35px;
}

.h-overview h3{
    color: white;
    font-weight: 100;
    font-size: 16px;
    margin-left: 25px;
}

.h-overview p{
    font-size: 12px;
    color: #707782;
}

.overview-drop{
    display: flex;
    cursor: pointer;
}

.overview-drop i{
    color: #707782;
    padding: 2.5px 5px;
   
}

